* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #ffffff 0%, #cacaca 100%);
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.guess {
  margin-top: 80px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.wrong {
  color: rgb(172, 10, 10);
  margin-top: 40px;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.container {
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
  margin-top: 50px;
}
button {
  background-color: #a2aee2;
  width: 63px;
  height: 50px;
  border-radius: 100px;
  margin: 5px;
  box-shadow: 3px 3px 3px 3px silver;
  border: none;
  color: azure;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
button:hover {
  background-color: silver;
  width: 60px;
  height: 50px;
  border-radius: 100px;
  margin: 5px;
  box-shadow: 3px 3px 3px 3px silver;
  border: none;
  color: rgba(0, 0, 0, 0.841);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  transition: 0.1s;
}
.hint {
  margin-top: 20px;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.correctness {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}
#change {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #e2aaa6;

  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-size: 15px;
}

#change:hover {
  background-color: silver;
  color: rgba(0, 0, 0, 0.603);
  transition: 1s;
  font-size: 18px;
  width: 80px;
}
#reset {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #e2aaa6;

  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  margin-left: 1020px;
  display: inline-block;
  font-size: 15px;
}

#reset:hover {
  background-color: silver;
  color: rgba(0, 0, 0, 0.603);
  transition: 1s;
  font-size: 18px;
  width: 80px;
}
.buttonss {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 450px) {
  body {
    height: 50vh;
    background-color: #cacaca;
  }
  button {
    background-color: #a2aee2;

    border-radius: 100px;
    margin: 5px;
    box-shadow: 3px 3px 3px 3px silver;
    border: none;
    color: azure;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    width: 60px;
    height: 40px;
  }
  .keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  #change {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #e2aaa6;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    font-size: 15px;
  }
  #reset {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #e2aaa6;

    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    margin-left: auto;
    display: inline-block;
    font-size: 15px;
  }
}
