* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.guess {
  margin-top: 80px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}
.wrong {
  margin-top: 40px;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}
.container {
  background-color: antiquewhite;
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
  margin-top: 50px;
}
button {
  width: 60px;
  height: 50px;
  border-radius: 100px;
  margin: 5px;
  box-shadow: 3px 3px 3px 3px silver;
}
.hint {
  margin-top: 20px;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}
.correctness {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
#reset {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: rgb(194, 60, 60);
}
